# Python
__pycache__/

# Environments
venv/

# Jupyter
.ipynb_checkpoints/

# Weights (pesados)
*.pt

# Data
**/data/raw/*
!**/data/raw/.gitkeep

# Dataset processado (gerado por src/prepare_dataset.py a partir de data/raw)
**/data/processed/*
!**/data/processed/.gitkeep
